[Unit]
Description=NGDS HTTP Server
After=network.target

[Service]
ExecStartPre=-/bin/sleep 8
User=root
Group=root
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillSignal=SIGQUIT
WorkingDirectory=/opt/ngds/node-app
ExecStart=/home/ec2-user/.nvm/versions/node/v20.18.0/bin/node /opt/ngds/node-app/ngds-pysearch.js
StandardOutput=append:/opt/ngds/node-app/log/ngds-pysearch.log
StandardError=append:/opt/ngds/node-app/log/ngds-pys-error.log

[Install]
WantedBy=multi-user.target
