[Unit]
Description=NGDS HTTP geothermal db PG pool 
After=network.target

[Service]

User=root
Group=root
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillSignal=SIGQUIT
WorkingDirectory=/opt/ngds/node-app
ExecStart=/snap/bin/node /opt/ngds/node-app/ngds-pg-pool.js
StandardOutput=append:/opt/ngds/node-app/log/ngds-pg-pool.log
StandardError=append:/opt/ngds/node-app/log/ngds-pg-pool-error.log

[Install]
WantedBy=multi-user.target
