[Unit]
Description=NGDS HTTP geothermal db PG pool
After=network.target

[Service]
ExecStartPre=-/bin/sleep 5
User=root
Group=root
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillSignal=SIGQUIT
WorkingDirectory=/opt/ngds/node-app
ExecStart=/home/ec2-user/.nvm/versions/node/v20.18.0/bin/node /opt/ngds/node-app/ngds-pg-pool.js
StandardOutput=append:/opt/ngds/node-app/log/ngds-pg-pool.log
StandardError=append:/opt/ngds/node-app/log/ngds-pg-pool-error.log

[Install]
WantedBy=multi-user.target
