[Unit]
Description=NGDS HTTP Redirector
After=network.target

[Service]

User=root
Group=root
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillSignal=SIGQUIT
WorkingDirectory=/opt/ngds/node-app
ExecStart=/snap/bin/node /opt/ngds/node-app/ngds-app-rdr.js
StandardOutput=append:/opt/ngds/node-app/log/ngds-app-rdr.log
StandardError=append:/opt/ngds/node-app/log/ngds-error-rdr.log

[Install]
WantedBy=multi-user.target
