[Unit]
Description=NGDS HTTP Web service
After=network.target

[Service]

User=root
Group=root
Restart=always
RestartSec=500ms
StartLimitInterval=0
KillSignal=SIGQUIT
WorkingDirectory=/opt/ngds/node-app
ExecStart=/home/ec2-user/.nvm/versions/node/v20.18.0/bin/node /opt/ngds/node-app/ngds-app.js
StandardOutput=append:/opt/ngds/node-app/log/ngds-app.log
StandardError=append:/opt/ngds/node-app/log/ngds-error.log

[Install]
WantedBy=multi-user.target
